{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<Acmidm::Switch as |acmidm|>
  <button disabled={{acmidm.isSwitching}} type="button" {{on "click" acmidm.switch}}>
    Wissel van gebruiker
  </button>
</Acmidm::Switch>


<Acmidm::Login as |acmidm|>
  <button
    type="button"
    loading={{acmidm.isAuthenticating}}
    disabled={{acmidm.isAuthenticating}}
    {{on "click" acmidm.login}}
  >
    {{#if acmidm.isAuthenticating}}
      Aan het aanmelden...
    {{else}}
      Meld u aan
    {{/if}}
  </button>

  {{#if acmidm.errorMessage}}
    <p>{{acmidm.errorMessage}}</p>
  {{/if}}
</Acmidm::Login>
